{:paths ["src" "resources"]
 :aliases
 {:cljs {:extra-deps
         {thheller/shadow-cljs {:mvn/version "2.11.6"}
          metosin/reitit-frontend {:mvn/version "0.5.5"}
          cljs-http/cljs-http {:mvn/version "0.1.46"}}}}
 :deps
 {github-jacobobryant/biff
  {:git/url "https://github.com/jacobobryant/biff"
   :sha "754e3e3024b8c9526e752779f70a5897f122ba60"}}}
